.url-table {
  background: white;
  text-align: left;
  border-collapse: collapse;
}

.url-table, .url-table th, .url-table td {
  border: 1px solid #e2e2e2;
}

.url-table th, .url-table td {
  padding: 1em 0.75em;
}
